APP_web_Emilio/node_modules/
APP_web_Emilio/.next/
APP_web_Emilio/.env.local
APP_web_Emilio/out/
APP_web_Emilio/.vercel/
IA_database/chroma_db/
IA_database/.env
APP_web_Emilio/.env
APP_web_Emilio/logs/
IA_database/logs/
APP_web_Emilio/npm-debug.log*
IA_database/npm-debug.log*
APP_web_Emilio/yarn-debug.log*
IA_database/yarn-debug.log*
APP_web_Emilio/yarn-error.log*
IA_database/yarn-error.log*
IA_database/__pycache__/
IA_database/*.pyc
IA_database/*.pyo
IA_database/.pytest_cache/
.vscode/
