@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.russo-one-regular {
  font-family: "RussoOne", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: RussoOne, Arial, Helvetica, sans-serif;
}

